# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# FastAPI
.env

# Node
node_modules/
dist/
coverage/

# IDE
.vscode/
.idea/


# Logs
*.log

# Docker
postgres_data/

# Testing
.pytest_cache/
.mypy_cache/

# Build
build/